/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
}

/*Text*/
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container h1 {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    background-color: #fff;
    mix-blend-mode: screen; /*The property sets how an element's content should blend with the content of the element's parent and the element's background.*/
    font-size: 360px;
    text-transform: uppercase;
    /*letter-spacing: 7px;*/

}